<!DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
      <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
      <script src="//use.typekit.net/uyf8thm.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <div class="content">
        <div class="date-location">
          <div class="date">
            <span>{{#if variants}}{{date}}{{else}} 10/25/14 {{/if}}</span>
          </div>
          <div class="location">
            <span>{{#if variants}}{{location}}{{else}} Your City {{/if}}</span>
          </div>
        </div>
        <div class="user-info">
          {{#if avatar}}
            <div class="avatar">
              <span class="avatar-image" style="background-image: url({{{avatar}}})"></span>
            </div>
          {{/if}}
          <div class="signature">
            <div class="name">{{first}} {{last}}</div>
            <div class="city">
              {{{city}}}
              {{#if city}}
                {{#if state}} , {{/if}}
              {{/if}}
              {{#if city}}
                {{state}}
              {{else}}
                {{state_full}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="location-image" style="background-image: url({{#if variants}}{{{image}}}{{else}}./images/placeholder_city.jpg{{/if}})"></div>
      </div>
    </body>
  </html>