<!DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
      <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
      <script src="//use.typekit.net/uyf8thm.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <div class="content">
        <div class="date-location">
          <div class="date">
            <sapn>{{date}}</sapn>
          </div>
          <div class="location">
            <span>{{location}}</span>
          </div>
        </div>
        <div class="user-info">
          <div class="avatar">
            <span class="avatar-image" style="background-image: {{#if avatar}}url({{{avatar}}}){{else}}url(./images/avatar.png){{/if}};"></span>
          </div>
          <div class="signature">
            <div class="name">{{first}} {{last}}</div>
            <div class="city">
              {{{city}}}
              {{#if city}}
                {{#if state}} , {{/if}}
              {{/if}}
              {{#if city}}
                {{state}}
              {{else}}
                {{state_full}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="location-image" style="background-image: url(./images/{{variants}}.jpg)"></div>
      </div>
    </body>
  </html>